.table td, .table th {
  vertical-align: inherit;
  text-align: center;
}
.table-fixed{
  table-layout: fixed;
}
.table-fixed tfoot > tr > td{
  padding: .75rem;
}
.title-nowrap{
  width: 375px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.writer-nowrap{
  width: 139px;
  overflow: hidden;
  text-overflow: ellipsis;
}
