<!DOCTYPE html>
<html>
  <head>
    <title>OVERWARE-MAIL</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="description" content="Phoenixcoded"> -->
    <meta name="keywords" content="flat ui, admin , Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <!-- <meta name="author" content="Phoenixcoded"> -->
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- themify-icons line icon -->
    <link href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" rel="stylesheet">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="/pages/menu-search/css/component.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <!-- jqeury ui.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <!--color css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/linearicons@1.0.1/dist/web-font/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css">
    <%- style %>
  </head>
  <body>
    <!-- 로딩화면 -->
    <div class="theme-loader">
      <div class="ball-scale">
        <div></div>
      </div>
    </div>
    <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
        <% include header.ejs %>
        <div class="pcoded-main-container" style="margin-top: 56px;">
          <div class="pcoded-wrapper">
            <!-- left menu start -->
            <% include side.ejs %>
            <!-- left menu end -->
            <div class="pcoded-content">
              <div class="pcoded-inner-content">
                <%- body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Modal start-->
  <div class='modal fade' id='mail-Modal' aria-hidden="true" tabindex="-1" role="dialog">
    <div class='modal-dialog modal-lg' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class="modal-title">메일시스템 현황</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="ti-close"></i></span>
          </button>
        </div>
        <div class='modal-body'>
          <div class='card'>
            <div class="card-block table-border-style">
              <div class="table-border-style">
                <div class="table-responsive">
                  <table class="table" id='modal-list'>
                    <thead>
                      <tr>
                        <th width="5%">등록일</th>
                        <th width="5%">수신그룹</th>
                        <th width="30%">제목</th>
                        <th width="5%">발송일</th>
                        <th width="1%"></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end-->
  <!-- Required Jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <!-- sweetalert -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js"></script>

  <!-- Custom js -->
  <script type="text/javascript" src="/js/script-min.js"></script>
  <script src="/js/pcoded.min.js"></script>
  <script src="/js/ie.js"></script>
  <script src="/js/demo-12.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
  <!-- <style>
  @media only screen and (max-width: 992px){
    .pcoded-navbar {
      top: 56px;
    }
  }
  </style> -->
  <script>
  $( document ).ready(function() {
    // $( "#pcoded" ).pcodedmenu({
    //   FixedNavbarPosition: true
    // });
    $('.header-navbar').attr('pcoded-header-position','fixed');
    $('.pcoded-navbar').attr('pcoded-navbar-position','fixed');
    $('.pcoded-main-container').css('margin-top','56px');
    // if ($('#pcoded').attr('pcoded-device-type') != "phone") {
    //   $('.pcoded-main-container').css('top','56px');
    // }
    // else{
    //   $('.pcoded-container').css('padding-bottom','0px');
    //   $('.pcoded-main-container').css('top','0px');
    // }
    var classNameArr = $(location).attr('pathname').replace("/","").split("/");
    var className = classNameArr[0];
    if(className == ""){
      className = "dashBoard";
    }
    else if(className == "user"){
      className = "list";
    }
    else if(className == "newsclipping"){
      className = classNameArr[1];
    }
    $("ul.pcoded-item li."+className).addClass('active pcoded-trigger');
  });
  $('.side_mail').on('click', function() {
    $('#mail-Modal #modal-list tbody').empty();
    $.ajax({
      url: '/mymailerList',
      type: 'post',
      error: function(request, status, error) {
        console.log('code:' + request.status + '\n' + 'message:' + request.responseText + '\n' + 'error:' + error);
        alert('새로고침 후 다시 시도해주세요.');
      },
      success: function(data) {
        console.log(data);
        var count = 0;
        data.result.forEach(function(item, idx) {
          var html = '<tr>\
              <td>'+item.M_regdate+'</td>\
              <td>'+((item.M_group!=null)?item.M_group:item.M_recipi)+'</td>\
              <td style="white-space: inherit;"d>'+item.M_subject+'</td>\
              <td>'+data.arrTime[count]+'</td>\
              <td><i class="far fa-trash-alt mail-trash" data-id="'+data.id[count]+'"></i></td>\
            </tr>';
          $('#mail-Modal #modal-list tbody').append(html);
          count++;
        });
        $('#mail-Modal').modal('show');
      }
    });
  });
  $(document).on('click','.mail-trash',function() {
    $('#mail-Modal').modal('hide');
    var param = $(this).data('id');
    swal({
      title: "삭제하시겠습니까?",
      icon: "warning",
      buttons: [
        "취소", true
      ],
      dangerMode: true
    }).then(function(value) {
      if (value == null) {
        return false;
      }
      $.ajax({
        url: '/mymailerList/delete',
        type: 'post',
        data: {'id':param},
        datatype: 'json',
        error: function(request, status, error) {
          console.log('code:' + request.status + '\n' + 'message:' + request.responseText + '\n' + 'error:' + error);
          alert('새로고침 후 다시 시도해주세요.');
        },
        success: function(data) {
          console.log(data);
          alert('삭제 완료되었습니다.');
        }
      });
    });
  });
  </script>
  <%- script %>
</html>
