<!-- left menu start -->
<nav class="pcoded-navbar" pcoded-header-position="relative">
  <div class="pcoded-inner-navbar main-menu">
    <div class="">
      <div class="main-menu-header">
        <div class="user-details">
          <span id="more-details">showbox</span>
        </div>
      </div>
    </div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="dashBoard">
        <a href="/">
          <span class="pcoded-micon"><i class="ti-home"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.dash.main">대시보드</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="email">
        <a href="/email">
          <span class="pcoded-micon"><i class="ti-email"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.dash.main">메일발송</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="period">
        <a href="/period">
          <span class="pcoded-micon"><i class="ti-dashboard"></i></span>
          <span class="pcoded-mtext">통계</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="pcoded-hasmenu list">
        <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
          <span class="pcoded-micon"><i class="ti-clipboard"></i></span>
          <span class="pcoded-mtext">관리현황</span>
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li>
            <a href="/list" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">메일 리스트 전체</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/list/group" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">메일 그룹 리스트</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/list/add" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">메일 등록</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
