<!-- left menu start -->
<nav class="pcoded-navbar" pcoded-header-position="relative" style="top: 56px;">
  <div class="pcoded-inner-navbar main-menu">
    <div class="main-menu-header" style="background: #5eb764;">
      <div class="user-details">
        <span id="more-details"><%=user.user_name%></span>
      </div>
    </div>
    <ul class="pcoded-item pcoded-left-item">
      <% if(user.n_idx != 30){ %>
      <li class="dashBoard">
        <a href="/">
          <span class="pcoded-micon"><i class="ti-home"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.dash.main">대시보드</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="pcoded-hasmenu email">
        <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
          <span class="pcoded-micon"><i class="ti-email"></i></span>
          <span class="pcoded-mtext">메일발송</span>
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li>
            <a href="/email" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">작성</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/email/manage" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">관리</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
      <% } else{ %>
        <li class="pcoded-hasmenu news">
          <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="ti-receipt"></i></span>
            <span class="pcoded-mtext">기사관리</span>
            <span class="pcoded-mcaret"></span>
          </a>
          <ul class="pcoded-submenu">
            <li>
              <a href="/news" data-i18n="nav.advance-components.draggable">
                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                <span class="pcoded-mtext">기사선택</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/news/list">
                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                <span class="pcoded-mtext">선택 기사 리스트</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
          </ul>
        </li>
        <li class="pcoded-hasmenu marketing">
          <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="ti-control-play"></i></span>
            <span class="pcoded-mtext">마케팅채널관리</span>
            <span class="pcoded-mcaret"></span>
          </a>
          <ul class="pcoded-submenu">
            <li>
              <a href="/marketing/facebook/CGV">
                <span class="pcoded-micon"><i class="icon-chart"></i></span>
                <span class="pcoded-mtext">FACEBOOK CGV</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/marketing/facebook/LOTTE">
                <span class="pcoded-micon"><i class="icon-chart"></i></span>
                <span class="pcoded-mtext">FACEBOOK LOTTE</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/marketing/facebook/MEGABOX">
                <span class="pcoded-micon"><i class="icon-chart"></i></span>
                <span class="pcoded-mtext">FACEBOOK MEGABOX</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/marketing/facebook/BANGWOOL">
                <span class="pcoded-micon"><i class="icon-chart"></i></span>
                <span class="pcoded-mtext">FACEBOOK BANGWOOL</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/marketing/naver">
                <span class="pcoded-micon"><i class="icon-chart"></i></span>
                <span class="pcoded-mtext">NAVER MOVIE</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li class="ms-hover">
              <a href="/marketing/list">
                <span class="pcoded-micon"><i class="icon-chart"></i></span>
                <span class="pcoded-mtext">선택 마케팅 리스트</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
          </ul>
        </li>
        <li class="send">
          <a href="/newsclipping/send">
            <span class="pcoded-micon"><i class="ti-email"></i></span>
            <span class="pcoded-mtext">미리보기/발송</span>
            <span class="pcoded-mcaret"></span>
          </a>
        </li>
        <li class="period">
          <a href="/newsclipping/period">
            <span class="pcoded-micon"><i class="ti-clipboard"></i></span>
            <span class="pcoded-mtext">발송현황</span>
            <span class="pcoded-mcaret"></span>
          </a>
        </li>
        <li class="list">
          <a href="/newsclipping/list">
            <span class="pcoded-micon"><i class="ti-check-box"></i></span>
            <span class="pcoded-mtext">지난 리스트</span>
            <span class="pcoded-mcaret"></span>
          </a>
        </li>
      <% } %>
      <% if(user.user_type == 1 && user.n_idx != 30){ %>
      <li class="period">
        <a href="/period">
          <span class="pcoded-micon"><i class="ti-dashboard"></i></span>
          <span class="pcoded-mtext">통계</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="pcoded-hasmenu list">
        <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
          <span class="pcoded-micon"><i class="ti-clipboard"></i></span>
          <span class="pcoded-mtext">관리현황</span>
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li>
            <a href="/list" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">메일 리스트 전체</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/list/group" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">메일 그룹 리스트</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/list/add" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">메일 등록</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/user" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">계정 리스트</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
