.news-delete{
  color: red;
  margin-left: 5px;
}
.groupBtn{
  padding: 5px 14px 5px 16px;
  position:  relative;
  bottom: 4px;
}
.checkboxs input[type="checkbox"] + label {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid #bcbcbc;
  cursor: pointer;
  margin-bottom: 0px;
  margin-right: 5px;
}
.checkboxs input[type="checkbox"]:checked + label:after {
  content: '\2714';
  font-size: 12px;
  display: block;
  clear: both;
  height: 10px;
  line-height: 17px;
  color: gray;
}
.checkboxs input[type="checkbox"] {
  display: none;
}
ul.relation_list {
  left: 35px;
}
/* selectable */
.selectable .ui-selecting { background: rgba(254, 202, 64, 0.5); }
.selectable .ui-selected { background: rgba(255, 152, 0, 0.5); color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; }
.selectable li { padding-left: 0.4em; height: 18px; }
