<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>메일 등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">관리현황</a></li>
          <li class="breadcrumb-item"><a href="#!">메일 등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 회사명</label>
                <div class="col-sm-5">
                  <input id="mediaName" type="text" class="form-control" placeholder="회사명">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="mediaCheckBtn" type="button" class="btn btn-inverse">
                    검색
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 분류</label>
                <div class="col-sm-5">
                  <div id="M_reporter" class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="0" name="M_reporter">
                        <i class="helper"></i>직원
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="1" name="M_reporter">
                        <i class="helper"></i>기자
                      </label>
                    </div>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 이름</label>
                <div class="col-sm-5">
                  <input id="name" type="text" class="form-control" placeholder="이름">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 이메일</label>
                <div class="col-sm-5">
                  <input id="email" type="text" class="form-control" placeholder="이메일 중복체크를 해주세요." readonly>
                  <input type="hidden" id="emailCheck"/>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="emailCheckBtn" type="button" class="btn btn-inverse">
                    중복체크
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">연락처</label>
                <div class="col-sm-5">
                  <input id="tel" type="text" class="form-control" placeholder="연락처">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                  <button type="submit" class="btn-submit btn btn-inverse m-b-0">등록</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade show" id="search-Modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">회사명 검색</h5>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-block table-border-style">
                  <div class="table-responsive">
                    <table class="table table-columned table-striped">
                      <thead>
                        <tr>
                          <th>
                            <input type="text" class="form-control" id="search" placeholder="회사명">
                          </th>
                          <th width="1px">
                            <button type="button" id="btn-search" class="btn btn-inverse">검색</button>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss="modal" aria-label="Close" type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<script type="text/javascript">
  // 중복 체크
  $("#emailCheckBtn").on("click",function(){
    swal({
      title: "✓ 이메일 중복 체크",
      content: "input",
      buttons: ["취소", "확인"],
      closeOnClickOutside: false,
      closeOnEsc: false
    })
    .then((value) => {
      console.log(value);
      var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
      if (value != null) {
        if (value.match(regExp) == null) {
          swal("ERROR!", "이메일을 다시 입력해주세요.", "error");
          return false;
        }
        $.ajax({
          type: "POST",
          url: "/list/add/emailCheck",
          dataType: "text",
          data: {email : value},
          error: function(req,status,error){
            swal("ERROR!", req.status+"\n"+error, "error");
          },
          success: function(data){
            console.log(data);
            if(data == 'fail'){
              swal("ERROR!", "이메일 중복됩니다. 다시 입력해 주세요.", "error");
            }else if(data == 'success'){
              swal("중복확인!", value+"는 사용가능한 이메일입니다.", "success");

              $('#email').val(value);
              $("#emailCheck").val("true");
              $('#email').removeClass("form-control-danger");
              $('#email').siblings().children("p").text("");
            }
          }
        });
      }
    });
  });
  // 모달 더보기 버튼 클릭시
  $(document).on('click','#more',function(){
    var param = {
      'start': $(this).data('num')
    };
    if($('#search').val() != ""){
      param['search'] = $('#search').val().replace(/ /gi, "");
    }
    searchMedia(param);
  });
  // 회사 선택시
  $(document).on('click','.btn-selected',function(){
    var name = $(this).parents('tr').find('td').eq(0).find('.name').text();
    $('#mediaName').val(name);
    $('#search-Modal').modal('hide');
  });
  // 회사 검색 enter시
  $('#mediaName').on('keyup',function(event){
    if(event.keyCode == 13){
      $('#mediaCheckBtn').trigger('click');
    };
  });
  $('#search').on('keyup',function(event){
    if(event.keyCode == 13){
      $('#btn-search').trigger('click');
    };
  });
  // 모달 취소시
  $("#search-Modal").on("hidden.bs.modal", function () {
    $('#search').val('');
  });
  // 검색 버튼 클릭시
  $('#mediaCheckBtn').on('click',function(){
    var param = {
      'start': 0
    };
    if($('#mediaName').val() != ""){
      param['search'] = $('#mediaName').val().replace(/ /gi, "");
      $('#search').val($('#mediaName').val());
    }
    searchMedia(param);
    $('#search-Modal').modal('show');
  });
  $('#btn-search').on('click',function(){
    if($('#search').val() == ""){
      alert('검색어를 넣어주세요.');
      return false;
    }
    var param = {
      'start': 0
    };
    param['search'] = $('#search').val().replace(/ /gi, "");
    searchMedia(param);
  });
  $('#email').on('focus',function(){
    $('#emailCheckBtn').trigger('click');
  });
  // 회사리스트 ajax
  function searchMedia(param){
    $.ajax({
      url: '/list/add/search',
      type: 'post',
      data : param,
      datatype : 'json',
      error:function(request,status,error){
        // alert('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        alert(request.responseText);
      },
      success:function(data){
        $("#search-Modal tbody").empty();
        $("#search-Modal #more").remove();
        console.log(data);
        if(data.count!=0){
          data.list.forEach(function(item){
            var html = '<tr>\
            <td style="vertical-align: middle;">\
            <div class="name">'+item.reporter_media_name+'</div>\
            </td>\
            <td><button type="submit" class="btn-selected btn btn-primary m-b-0">선택</button></td>\
            </tr>';
            $("#search-Modal tbody").append(html);
          });
          var page = param['start'] / 10;
          if(page < Math.floor(data.count.total / 10)){
            var moreHtml = '<div class="col-sm-12 p-t-5 p-b-5 bg-inverse text-center" id="more" data-num="'+((page+1)*10)+'">더보기 <i class="fas fa-chevron-down"></i></div>';
            $("#search-Modal .table-responsive").append(moreHtml);
          }
        }
      }
    });
  }
  // 메일등록
  $('.btn-submit').on('click',function(){
    var check=true;
    if($('#mediaName').val() == ""){
      check = requiredMessage("mediaName","회사명을 입력해주세요.");
    }
    if($("input:radio[name=M_reporter]:checked").val() == undefined){
      check = requiredMessage("M_reporter","분류를 선택해주세요.");
    }
    if($("#name").val() == ""){
      check = requiredMessage("name","이름을 입력해주세요.");
    }
    if($("#email").val() == ""){
      check = requiredMessage("email","이메일을 입력해주세요.");
    }
    if($("#email").val() != "" && $("#emailCheck").val() == ""){
      check = requiredMessage("email","이메일를 중복확인 해주세요.");
    }
    if(check == false){
      return false;
    }
    swal({
      title: "메일등록 하시겠습니까?",
      icon: "warning",
      buttons: ["취소", true],
      dangerMode: true,
    })
    .then((value) => {
      if (value != null) {
        var param = {
          'M_email': $('#email').val(),
          'M_name': $('#name').val(),
          'M_ptitle':$('#mediaName').val(),
          'M_reporter':$("input:radio[name=M_reporter]:checked").val()
        };
        if($('#tel').val() != ""){
          param['M_tel']=$('#tel').val().replace(/[^0-9]/gi,"");
        }
        insertMail(param);
      }
    });
  });
  // input box 경고문
  function requiredMessage(target,msg){
    $("#"+target).siblings('.messages').children('.error').text(msg);
    $("#"+target).addClass("form-control-danger");
    return false;
  }
  // 메일 등록 ajax
  function insertMail(param){
    $.ajax({
      url: '/list/add',
      type: 'post',
      data : param,
      datatype : 'json',
      error:function(request,status,error){
        // alert('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        swal("ERROR!", request.responseText, "error");
      },
      success:function(data){
        swal("SUCCESS!", data, "success")
        .then((value) => {
          window.location.reload();
        });
      }
    });

  }
</script>
