<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>메일 등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">관리현황</a></li>
          <li class="breadcrumb-item"><a href="#!">메일 등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-default" style="border-radius:  0; border-width:  2px;  margin-bottom: 1rem;">
          	<ul class="p-l-15 f-12" style="list-style-type: disc; color:  #666;">
              	<li>회사명은 검색창에서 선택해주세요. 검색창에 회사가 없을 시 회사명을 입력해주시기 바랍니다.</li>
                <li>기자로 분류 시 메일 발송 후 통계페이지에서 해당 기자의 기사건과 댓글 수를 확인할 수 있습니다.</li>
                <li>이름에 '기자'가 들어갈 경우 이름 뒤에 공백 후 '기자'를 넣어주시기 바랍니다. ex) 홍길동 기자( ○ ) / 홍길동기자 ( X )</li>
          	</ul>
        	</div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 회사</label>
                <div class="col-sm-5">
                  <input id="mediaName" type="text" class="form-control">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="mediaCheckBtn" type="button" class="btn btn-inverse">
                    검색
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 분류</label>
                <div class="col-sm-5">
                  <div id="M_reporter" class="form-radio">
                    <div class="radio radiofill radio-inverse radio-inline">
                      <label class="m-b-0 m-t-5">
                        <input type="radio" value="0" name="M_reporter">
                        <i class="helper"></i>직원
                      </label>
                    </div>
                    <div class="radio radiofill radio-inverse radio-inline">
                      <label class="m-b-0 m-t-5">
                        <input type="radio" value="1" name="M_reporter">
                        <i class="helper"></i>기자
                      </label>
                    </div>
                    <div class="radio radiofill radio-inverse radio-inline">
                      <label class="m-b-0 m-t-5">
                        <input type="radio" value="2" name="M_reporter">
                        <i class="helper"></i>관계사
                      </label>
                    </div>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 이름</label>
                <div class="col-sm-5">
                  <input id="name" type="text" class="form-control">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 이메일</label>
                <div class="col-sm-5">
                  <input id="email" type="text" class="form-control" placeholder="이메일 중복체크를 해주세요." readonly>
                  <input type="hidden" id="emailCheck"/>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="emailCheckBtn" type="button" class="btn btn-inverse">
                    중복체크
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">연락처</label>
                <div class="col-sm-5">
                  <input id="tel" type="text" class="form-control">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">그룹</label>
                <div class="col-sm-5">
                  <div class="form-control f-left file-list">
                    <ul id="uploadGroupList"></ul>
                    <input id="group" type="hidden">
                  </div>
                </div>
                <div class="col-sm-1 btn-check">
                  <button class="btn-group btn btn-inverse m-b-0">선택하기</button>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                  <button type="submit" class="btn-submit btn btn-inverse m-b-0">등록</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade show" id="search-Modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">회사 검색</h5>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-block table-border-style">
                  <div class="table-responsive">
                    <table class="table table-columned table-striped">
                      <thead>
                        <tr>
                          <th>
                            <input type="text" class="form-control" id="search" placeholder="회사명">
                          </th>
                          <th width="1px">
                            <button type="button" id="btn-search" class="btn btn-inverse">검색</button>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss="modal" aria-label="Close" type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='group-Modal' data-backdrop="static" data-keyboard="false" role='dialog'>
        <div class='modal-dialog  modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">그룹 선택</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class='card'>
                <div class="card-header">
                  <div class="f-right col-sm-3 p-l-0 p-r-0 right-icon-control">
                    <input type="text" class="form-control form-control-default search-text" id="groupInput" placeholder="그룹명 검색">
                    <div class="form-icon" id="searchGroupBtn">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>
                <div class="card-block table-border-style">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="1%">
                            <div class="border-checkbox-section" style="max-width: 30px;">
                              <div class="border-checkbox-group border-checkbox-group-default">
                                <input class="border-checkbox" type="checkbox" id="all">
                                <label class="border-checkbox-label" for="all"></label>
                              </div>
                            </div>
                          </th>
                          <th width="5%">NO</th>
                          <th width="25%">그룹명</th>
                          <th width="10%">전체리스트</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                      <tfoot></tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-inverse btn-iGroup">선택</button>
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<!-- alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<!-- custom -->
<style type="text/css">
  #uploadGroupList li{
    display: flow-root;
  }
  #group-Modal .border-checkbox-section .border-checkbox-group .border-checkbox-label{
    margin: 0;
  }
  .table td, .table th{
    vertical-align: middle;
  }
  #group-Modal .table thead th{
    vertical-align: top;
  }
  /* 파일 업로드 */
.file-name{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.file-list{
  min-height: 36px;
}
#uploadFileList li{
  width: 100%;
  display: flow-root;
}
input.upload {
  display:none;
  position: relative;
}
</style>
<script type="text/javascript">
  // 중복 체크
  $("#emailCheckBtn").on("click",function(){
    swal({
      title: "✓ 이메일 중복 체크",
      content: "input",
      buttons: ["취소", "확인"],
      closeOnClickOutside: false,
      closeOnEsc: false
    })
    .then(function(value) {
      console.log(value);
      var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
      value = value.replace(/ /gi, "");
      if (value != null) {
        if (value.match(regExp) == null) {
          swal("ERROR!", "이메일을 다시 입력해주세요.", "error");
          return false;
        }
        $.ajax({
          type: "POST",
          url: "/list/add/emailCheck",
          dataType: "json",
          data: {email : value},
          error: function(req,status,error){
            console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
            swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
          },
          success: function(data){
            console.log(data);
            if(data.msg == 'fail'){
              swal("ERROR!", "이메일 중복됩니다. 다시 입력해 주세요.", "error");
            }else if(data.msg == 'success'){
              swal("중복확인!", value+"는 사용가능한 이메일입니다.", "success");

              $('#email').val(value);
              $("#emailCheck").val("true");
              $('#email').removeClass("form-control-danger");
              $('#email').siblings().children("p").text("");
            }else{
              swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
            }
          }
        });
      }
    });
  });
  // 모달 더보기 버튼 클릭시
  $(document).on('click','#more',function(){
    var param = {
      'start': $(this).data('num')
    };
    if($('#search').val() != ""){
      param['search'] = $('#search').val().replace(/ /gi, "");
    }
    searchMedia(param);
  });
  // 회사 선택시
  $(document).on('click','.btn-selected',function(){
    var name = $(this).parents('tr').find('td').eq(0).find('.name').text();
    $('#mediaName').val(name);
    $('#search-Modal').modal('hide');
  });
  // 회사 검색 enter시
  $('#mediaName').on('keyup',function(event){
    if(event.keyCode == 13){
      $('#mediaCheckBtn').trigger('click');
    };
  });
  $('#search').on('keyup',function(event){
    if(event.keyCode == 13){
      $('#btn-search').trigger('click');
    };
  });
  // 모달 취소시
  $("#search-Modal").on("hidden.bs.modal", function () {
    $('#search').val('');
  });
  // 검색 버튼 클릭시
  $('#mediaCheckBtn').on('click',function(){
    var param = {
      'start': 0
    };
    if($('#mediaName').val() != ""){
      param['search'] = $('#mediaName').val().replace(/ /gi, "");
      $('#search').val($('#mediaName').val());
    }
    searchMedia(param);
    $('#search-Modal').modal('show');
  });
  $('#btn-search').on('click',function(){
    if($('#search').val() == ""){
      console.log('검색어를 넣어주세요.');
      return false;
    }
    var param = {
      'start': 0
    };
    param['search'] = $('#search').val().replace(/ /gi, "");
    searchMedia(param);
  });
  $('#email').on('focus',function(){
    $('#emailCheckBtn').trigger('click');
  });
  // 회사리스트
  function searchMedia(param){
    $.ajax({
      url: '/list/add/search',
      type: 'post',
      data : param,
      datatype : 'json',
      error:function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
      },
      success:function(data){
        if(data.status != true){
          swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
          return false;
        }
        $("#search-Modal tbody").empty();
        $("#search-Modal #more").remove();
        if(data.count!=0){
          data.list.forEach(function(item){
            var html = '<tr>\
            <td style="vertical-align: middle;">\
            <div class="name">'+item.reporter_media_name+'</div>\
            </td>\
            <td><button type="submit" class="btn-selected btn btn-primary m-b-0">선택</button></td>\
            </tr>';
            $("#search-Modal tbody").append(html);
          });
          var page = param['start'] / 10;
          if(page < Math.floor(data.count.total / 10)){
            var moreHtml = '<div class="col-sm-12 p-t-5 p-b-5 bg-inverse text-center" id="more" data-num="'+((page+1)*10)+'">더보기 <i class="fas fa-chevron-down"></i></div>';
            $("#search-Modal .table-responsive").append(moreHtml);
          }
        }
      }
    });
  }
  // 메일등록
  $('.btn-submit').on('click',function(){
    var check=true;
    if($('#mediaName').val() == ""){
      check = requiredMessage("mediaName","회사명을 입력해주세요.");
    }
    if($("input:radio[name=M_reporter]:checked").val() == undefined){
      check = requiredMessage("M_reporter","분류를 선택해주세요.");
    }
    if($("#name").val() == ""){
      check = requiredMessage("name","이름을 입력해주세요.");
    }
    if($("#email").val() == ""){
      check = requiredMessage("email","이메일을 입력해주세요.");
    }
    if($("#email").val() != "" && $("#emailCheck").val() == ""){
      check = requiredMessage("email","이메일를 중복확인 해주세요.");
    }
    if(check == false){
      return false;
    }
    swal({
      title: "메일등록 하시겠습니까?",
      icon: "warning",
      buttons: ["취소", true],
      dangerMode: true,
    })
    .then(function(value) {
      if (value != null) {
        var param = {
          'M_email': $('#email').val(),
          'M_name': $('#name').val(),
          'M_ptitle':$('#mediaName').val(),
          'M_reporter':$("input:radio[name=M_reporter]:checked").val()
        };
        if($('#tel').val() != ""){
          param['M_tel']=$('#tel').val().replace(/[^0-9]/gi,"");
        }
        if($('#uploadGroupList li').length > 0){
          var list = [];
          $('#uploadGroupList li').each(function(idx,ele){
            var trEle = $(ele).parents('tr');
            list.push($(ele).text());
          });
          param.group = list.join(',');
        }
        insertMail(param);
      }
    });
  });
  // input box 경고문
  function requiredMessage(target,msg){
    $("#"+target).siblings('.messages').children('.error').text(msg);
    $("#"+target).addClass("form-control-danger");
    return false;
  }
  // 메일 등록 ajax
  function insertMail(param){
    $.ajax({
      url: '/list/add',
      type: 'post',
      data : param,
      datatype : 'json',
      error:function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
      },
      success:function(data){
        if(data.status){
          swal("SUCCESS!", '메일등록 되었습니다.', "success")
          .then(function(value) {
            window.location.reload();
          });
        }else{
          swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
        }
      }
    });

  }
  // 모달 처리
  // 검색시
  // 모달 등록 그룹 검색 클릭시
  $('.btn-group').on('click',function(){
    var param = {
      page : 1,
    };
    $('#groupInput').val('');
    ajaxGetMailPageList(param);
    $('#group-Modal').modal('show');
  });
  // 그룹 검색 모달 전체선택시
  $('#all').on('click',function(){
    $('input[type=checkbox]').prop("checked",$('#all').is(":checked"));
  });
  // 그룹 검색 모달 체크박스 선택시
  $(document).on('click','input[type=checkbox]:not(#all)',function(){
    $('#all').prop("checked",false);
  });
  // 그룹 검색 모달 이메일 검색시
  $('#groupInput').on('keyup',function(event){
    if(event.keyCode == 13){
      $('#searchGroupBtn').trigger('click');
    };
  });
  $('#searchGroupBtn').on('click',function(){
    var param = {
      page : 1
    };
    if($('#groupInput').val() != ''){
      param.search = $('#groupInput').val();
    }
    $('#all').prop("checked",false);
    ajaxGetMailPageList(param);
  });
  // 모달 페이지 이동
  $(document).on('click','#group-Modal .page-link',function(){
    var param = {
      page : Number($(this).data().value)
    };
    if($('#groupInput').val() != ''){
      param.search = $('#groupInput').val();
    }
    ajaxGetMailPageList(param);
  });
  // 그룹 검색 모달 리스트 ajax
  function ajaxGetMailPageList(param){
    console.log('ajaxGetMailPageList:',param);
    $.ajax({
      url: '/list/getNextGroupPage',
      type: 'post',
      data: param,
      error: function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        alert('새로 고침해주세요.');
      },
      success: function(data){
        if(data.status != true){
          alert('새로 고침해주세요.');
          return false;
        }
        var limit = 20;
        var pageCount = Math.ceil(data.list.groupListCount/limit);
        $('#group-Modal tbody').empty();
        $('#all').prop("checked",false);
        console.log(data.list.groupList);
        data.list.groupList.forEach(function(item,idx){
          var numIdx = Math.ceil(data.list.groupListCount-(data.list.offset+idx)).toString();
          var html = '<tr>\
            <input type="hidden" id="idx" value="'+item.n_idx+'" />\
            <td>\
              <div class="border-checkbox-section" style="max-width: 30px;">\
                <div class="border-checkbox-group border-checkbox-group-default">\
                  <input class="border-checkbox" type="checkbox" id="checkbox'+idx+'">\
                  <label class="border-checkbox-label" for="checkbox'+idx+'"></label>\
                </div>\
              </div>\
            </td>\
            <th>'+numIdx+'</th>\
            <td id="title">'+item.M_group_title+'</td>\
            <td>'+item.groupCount+'</td>\
          </tr>'
          $('#group-Modal tbody').append(html);
        });
        $('#group-Modal tfoot').empty();
        if(pageCount > 1) {
          var html = '<tr><td colspan="3"><ul class="pagination float-right">';
          var pageSize = 5;
          var pRCnt = parseInt(data.list.currentPage / pageSize);
          if(data.list.currentPage % pageSize == 0){
            pRCnt = parseInt(data.list.currentPage / pageSize) - 1;
          }
          if(data.list.currentPage > 5) {
            html += '<li class="page-item"><a class="page-link" data-value="1" aria-label="Previous">\
                <i class="ti-angle-double-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>\
              <li class="page-item"><a class="page-link" data-value=\"'+(pRCnt * pageSize)+'"\ aria-label="Previous">\
                <i class="ti-angle-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>';
          }

          for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){
            var active = (data.list.currentPage == index) ? "active" : "";
            html += '<li class=\"'+active+' page-item">\
              <a class="page-link" data-value=\"'+index+'"\ >'+index+'</a></li>'

            if(index == pageCount) {
              break;
            }
          }
          if((pRCnt + 1) * pageSize < pageCount) {
            html += '<li class="page-item">\
                  <a class="page-link" data-value=\"'+((pRCnt + 1)*pageSize+1)+'"\ aria-label="Next">\
                    <i class="ti-angle-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>\
                  <li class="page-item">\
                  <a class="page-link" data-value=\"'+pageCount+'"\ aria-label="Next">\
                    <i class="ti-angle-double-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>';
          }
          html += '</ul></td></tr>';
          $('#group-Modal tfoot').append(html);
        }
      }
    });
  }
  // 그룹추가시
  $('.btn-iGroup').on('click',function(){
    var list = [];
    $('input[type=checkbox]:not(#all):checked').each(function(idx,ele){
      var trEle = $(ele).parents('tr');
      $('.file-name:contains("'+trEle.find('#title').text()+'")').parents('li').remove();
      var html = '<li><span class="f-left file-name">'+trEle.find('#title').text()+'</span><i class="fas fa-times f-right text-danger group-del"></i></li>';
      $('#uploadGroupList').append(html);
    });
    // list.push({title:trEle.find('#title').text(),idx:trEle.find('#idx').val()});
    $('input[type=checkbox]:not(#all):checked').prop("checked",false);
    $('#group-Modal').modal('hide');
  });
  // 그룹 취소
  $(document).on('click','.group-del',function(){
    var tag= $(this).parents('li');
    $(tag).remove();
  });
</script>
