<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>메일 리스트 전체</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">관리현황</a></li>
          <li class="breadcrumb-item"><a href="#!">메일 리스트 전체</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row" id="listTable">
        <div class="col-md-12">
          <div class="col-sm-3 input-group input-group-button input-group-inverse p-l-0 p-r-0 m-b-10 f-right btn-select">
            <input id="keywordInput" type="text" class="form-control">
            <span class="input-group-addon" id="searchBtn">
              <button class=" btn btn-inverse">검색</button>
            </span>
          </div>
          <select id="selectSearchType" name="select" class="col-sm-1 form-control form-control-inverse m-r-10 m-b-10 f-right search-select">
            <option value="t">회사</option>
            <option value="c">이메일</option>
          </select>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th width="1%">선택</th>
                      <th width="5%">NO</th>
                      <th width="10%">회사</th>
                      <th width="25%">이메일</th>
                      <th width="10%">언론사(회사명)</th>
                      <th width="5%">이름(기자명)</th>
                      <th width="10%">연락처</th>
                      <th width="15%">등록일</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="border-checkbox-section" style="max-width: 30px;">
                          <div class="border-checkbox-group border-checkbox-group-default">
                            <input class="border-checkbox" type="checkbox" id="checkbox0">
                            <label class="border-checkbox-label" for="checkbox0"></label>
                          </div>
                        </div>
                      </td>
                      <th>7</th>
                      <td>쇼박스</td>
                      <td style="font-weight:  bold;">abc@def.com</td>
                      <td>조선일보</td>
                      <td>김기명</td>
                      <td>010-123-4567</td>
                      <td>2018-04-02 00:00:00</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="border-checkbox-section" style="max-width: 30px;">
                          <div class="border-checkbox-group border-checkbox-group-default">
                            <input class="border-checkbox" type="checkbox" id="checkbox0">
                            <label class="border-checkbox-label" for="checkbox0"></label>
                          </div>
                        </div>
                      </td>
                      <th>6</th>
                      <td>쇼박스</td>
                      <td style="font-weight: bold;">abc@def.com</td>
                      <td>조선일보</td>
                      <td>김기명</td>
                      <td>010-123-4567</td>
                      <td>2018-04-02 00:00:00</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="border-checkbox-section" style="max-width: 30px;">
                          <div class="border-checkbox-group border-checkbox-group-default">
                            <input class="border-checkbox" type="checkbox" id="checkbox0">
                            <label class="border-checkbox-label" for="checkbox0"></label>
                          </div>
                        </div>
                      </td>
                      <th>5</th>
                      <td>쇼박스</td>
                      <td style="font-weight: bold;">abc@def.com</td>
                      <td>조선일보</td>
                      <td>김기명</td>
                      <td>010-123-4567</td>
                      <td>2018-04-02 00:00:00</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="border-checkbox-section" style="max-width: 30px;">
                          <div class="border-checkbox-group border-checkbox-group-default">
                            <input class="border-checkbox" type="checkbox" id="checkbox0">
                            <label class="border-checkbox-label" for="checkbox0"></label>
                          </div>
                        </div>
                      </td>
                      <th>4</th>
                      <td>쇼박스</td>
                      <td style="font-weight: bold;">abc@def.com</td>
                      <td>조선일보</td>
                      <td>김기명</td>
                      <td>010-123-4567</td>
                      <td>2018-04-02 00:00:00</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="border-checkbox-section" style="max-width: 30px;">
                          <div class="border-checkbox-group border-checkbox-group-default">
                            <input class="border-checkbox" type="checkbox" id="checkbox0">
                            <label class="border-checkbox-label" for="checkbox0"></label>
                          </div>
                        </div>
                      </td>
                      <th>3</th>
                      <td>쇼박스</td>
                      <td style="font-weight: bold;">abc@def.com</td>
                      <td>조선일보</td>
                      <td>김기명</td>
                      <td>010-123-4567</td>
                      <td>2018-04-02 00:00:00</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="border-checkbox-section" style="max-width: 30px;">
                          <div class="border-checkbox-group border-checkbox-group-default">
                            <input class="border-checkbox" type="checkbox" id="checkbox0">
                            <label class="border-checkbox-label" for="checkbox0"></label>
                          </div>
                        </div>
                      </td>
                      <th>2</th>
                      <td>쇼박스</td>
                      <td style="font-weight: bold;">abc@def.com</td>
                      <td>조선일보</td>
                      <td>김기명</td>
                      <td>010-123-4567</td>
                      <td>2018-04-02 00:00:00</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="border-checkbox-section" style="max-width: 30px;">
                          <div class="border-checkbox-group border-checkbox-group-default">
                            <input class="border-checkbox" type="checkbox" id="checkbox0">
                            <label class="border-checkbox-label" for="checkbox0"></label>
                          </div>
                        </div>
                      </td>
                      <th>1</th>
                      <td>쇼박스</td>
                      <td style="font-weight: bold;">abc@def.com</td>
                      <td>조선일보</td>
                      <td>김기명</td>
                      <td>010-123-4567</td>
                      <td>2018-04-02 00:00:00</td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
          <button class="btn btn-inverse" style="float:  right;"><i class="fas fa-plus"></i>그룹등록</button>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='period-Modal' role='dialog'>
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">[2018-03-26 통계보고서]</h5>
            </div>
            <div class='modal-body'>
              <div class='card'>
                <div class="card-block">
                  <div class="table-border-style">
                    <div class="table-responsive">
                      <table class="table table-sm" id='modal-cnt'>
                        <tbody>
                          <tr>
                            <th class="b-r-1 text-left" width="30%">회사</th>
                            <td>쇼박스</td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">이메일</th>
                            <td>abc@def.com</td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">언론사</th>
                            <td>조선일보</td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">이름</th>
                            <td>김기명</td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">연락처</th>
                            <td>010-123-1234</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary mobtn" data-dismiss='modal' aria-label='Close' type="button">수정</button>
              <button class="btn btn-danger mobtn" data-dismiss='modal' aria-label='Close' type="button">삭제</button>
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
