<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title></title>
  <style type="text/css">
    * {
      font-family: "맑은 고딕", malgungothic, "돋움", Dotum;
      font-size: 12px;
    }
  </style>
</head>

<body>
  <!-- DB html 넣기 -->
  <table width="750" align="center" cellpadding="0" cellspacing="0" border="0" style="margin-top: 30px;">
    <tbody>
      <tr>
        <td>
          [지난 기사보기]
          <hr>
          <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top: 10px;">
            <colgroup>
              <col width="78%">
              <col width="22%">
            </colgroup>
            <tbody>
              <tr>
                <td style="font-size: small;padding:5px 0 5px;border-bottom:1px dotted #d9d9d9;color:#444;">[No.36차] <a style="text-decoration:none; color:black;" href="http://mailling.thelab.kr/?inc=content_preview&amp;from=1&amp;idx=1643&amp;page=" target="_blank">&lt;곤지암&gt; 바로 오늘 IPTV/ VOD 서비스 오픈! 한국 호러 사상 역대급 흥행열기 안방에서도 잇는다!</a></td>
                <td style="font-size: small;padding:5px 0 5px;border-bottom:1px dotted #d9d9d9;color:#444;">2018-04-30 08:00:36</td>
              </tr>
              <tr>
                <td colspan="2" style="text-align: center; font-size: small;padding:10px 0 5px;"><strong><span class="current">1</span></strong>
                  <a href="http://mailling.thelab.kr/?inc=content_view&amp;from=1&amp;idx=1639&amp;page=2">2</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table cellpadding="0" cellspacing="0" border="0" width="750" align="center" style="margin-top: 30px;">
    <tbody>
      <tr>
        <td align="center">Copyright ⓒ Nextmine All rights reserved.</td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</body>
</html>
