.text-center td,.text-center th{
  text-align: center;
}
.table-checkbox tr > td:first-child,.table-checkbox tr > th:first-child{
  text-align: center;
}
label {
  margin-bottom: 1px;
}
.table > thead > tr > th {
  vertical-align: top;
}
.sweet-alert h2{
  font-size: 26px;
}
@media only screen and (min-width: 320px) {
  .btn-viral{
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .btn-viral{
    min-width: 127px;
    padding-right: 10px;
    padding-top: 0px;
  }
  .card1 > h5{
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 0px;
  }
  .card1 > ul{
    height: 60px;
    padding-top: 19px;
  }
}

@media only screen and (min-width: 1200px) {
  .card1 > h5{
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 12px;
  }
  .card1 > ul{
    height: 107px;
    padding-top: 20px;
  }
}
