#M_body a{
  font-size: 12px;
  color: #0000ee;
  text-decoration: underline;
}
#M_body #body-header td{
  border: 1px solid #e3e3e3;
}
#M_body #body-header td:hover{
  border: 1px solid #ff8b00;
  font-weight: bold;
}
