<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.union.mapper.BiralMapper">

	<insert id="create">
		insert into 
			biral_data(user_idx, biral_title, biral_rank, biral_isUser, keyword, url, writeDate)
		values 
			( #{user_idx}, #{biral_title}, #{biral_rank}, #{biral_isUser}, #{keyword}, #{url}, #{writeDate})
            
	</insert>

	<select id="read" resultType="BiralVO">
		select 
			*
		from 
			biral_data
		where
			biral_idx = #{biral_idx}
		
	</select>
	
	<update id="update">
		update 
			biral_data
		set 
			biral_title = #{biral_title},
            biral_rank = #{biral_rank},
            user_idx = #{user_idx},
            keyword = #{keyword},
            url = #{url},
            writeDate = #{writeDate}
		where 
			biral_idx = #{biral_idx}
			
	</update>
	
	<delete id="delete">
		delete from
			biral_data
		where
			biral_idx = #{biral_idx}
			
	</delete>
	
</mapper>