<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.union.mapper.CommunityMapper">


	<sql id="search">
 		<if test="keyword != null">
			<if test="searchType != null">
				<if test="searchType == 't'.toString()">
					and community_title like concat('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'c'.toString()">
					and community_content like concat('%', #{keyword}, '%')
				</if>
			</if>
		</if>
		<if test="selectKey != null">
			and keyword = #{selectKey}
		</if>
		<if test="startDate != null">
			and createDate <![CDATA[>]]> #{startDate}
			<if test="endDate != null">
				and createDate <![CDATA[<]]> #{endDate}
			</if>
		</if>
	</sql>

	<insert id="create">
		insert into
			community_data(community_name, community_title, community_content, community_writer, community_writer_IP, writeDate, keyword, keyword_type, url, board_number)
		values
			(#{community_name}, #{community_title}, #{community_content}, #{community_writer}, #{community_writer_IP}, #{writeDate}, #{keyword}, #{keyword_type}, #{url}, #{board_number})
	
	</insert>

	<select id="read" resultType="CommunityVO">
		select
			*
		from
			community_data
		where
			community_idx = #{community_idx}
	
	</select>
	
	<update id="update">
		update
			community_data
		set
			community_name = #{community_name},
			community_title = #{community_title},
			community_content = #{community_content},
			community_writer = #{community_writer},
			community_writer_IP = #{community_writer_IP},
			writeDate = #{writeDate},
			keyword = #{keyword},
			keyword_type = #{keyword_type},
			url = #{url},
			board_number = #{board_number},
			updateDate = now()
		where
			community_idx = #{community_idx}
	
	</update>

	<delete id="delete">
		delete from
			community_data
		where
			community_idx = #{community_idx}
	
	</delete>
	
	<select id="listExtract" resultType="CommunityVO">
		select
			*
		from 
			community_data
		where
			textType is null
		<if test="startDate != null">
		and
			writeDate <![CDATA[>]]> #{startDate}
		<if test="endDate != null">
  		and 
  			writeDate <![CDATA[<]]> #{endDate}
  		</if>
  		</if>
		<include refid="search"></include>
		order by
			createDate desc
		limit
			#{startPage}, #{perPageNum}
			
	
	</select>
	
	<select id="getExtractCount" resultType="Integer">
		select
			count(*)
		from 
			community_data
		where
			textType is null
		<if test="startDate != null">
		and
			writeDate <![CDATA[>]]> #{startDate}
		<if test="endDate != null">
  		and 
  			writeDate <![CDATA[<]]> #{endDate}
  		</if>
  		</if>
		<include refid="search"></include>
	
	
	</select>
	

	<select id="listSearch" resultType="CommunityVO">
		select 
			*
		from 
			community_data
		where 
			textType is not null
		<include refid="search"></include>
		order 
			by createdate desc
		limit  
			#{startPage}, #{perPageNum}
	
	</select>
	
	<select id = "getSearchCount" resultType="Integer">
		select
			count(*)
		from
			community_data
		where
			textType is not null
		<include refid="search"></include>
			
	</select>
	
	
	<select id="listAll" resultType="CommunityVO">
		select 
			*
		from 
			community_data
		where 
			textType is not null
		<include refid="search"></include>
	
	</select>

	<update id="updateTextType">
		update
			community_data
		set
			textType = #{textType}
		where
			community_idx = #{community_idx}
	
	</update>

	<update id="updateThumbnail">
		update
			community_data
		set
			thumbnail = #{thumbnail}
		where
			community_idx = #{community_idx}
	
	</update>


</mapper>