<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.union.mappers.MediaMapper">
 
 	<sql id="periodSearch">
		<if test="company != null">
			and
			   keyword in (select 
						keyword 
					from 
						keyword_data
					where
						user_idx = (select 
										user_idx 
									from 
										user_data 
									where 
										user_name = #{company} 
									and 
										keyword_property = '포함'
									)
					)
		</if>
		<if test="selectKey != null">
				and keyword in (select keyword from keyword_data where keyword_main = #{selectKey})
		</if>
		<if test="startDate != null and endDate != null">
			and updateDate <![CDATA[>=]]> #{startDate}
			and updateDate <![CDATA[<=]]> #{endDate}
		</if>
 	</sql>
 	<sql id="search">
 		<if test="keyword != null">
			<if test="searchType != null">
				<if test="searchType == 't'.toString()">
					and media_title like concat('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'c'.toString()">
					and media_content like concat('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'm'.toString()">
					and media_name like concat('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'r'.toString()">
					and reporter_name like concat('%', #{keyword}, '%')
				</if>
			</if>
		</if>
		<if test="company != null">
			and
			   keyword in (select 
						keyword 
					from 
						keyword_data
					where
						user_idx = (select 
										user_idx 
									from 
										user_data 
									where 
										user_name = #{company} 
									and 
										keyword_property = '포함'
									)
					)
		</if>
		<if test="selectKey != null">
				and keyword in (select keyword from keyword_data where keyword_main = #{selectKey})
			</if>
		<if test="startDate == null">
			and writeDate <![CDATA[>=]]> CURDATE()
		</if>	
		<if test="startDate != null and endDate != null">
			and updateDate <![CDATA[>=]]> #{startDate}
			and updateDate <![CDATA[<=]]> #{endDate}
		</if>
		<if test="textType != null">
			and textType = #{textType}
		</if>
	</sql>
	
	<sql id="search2">
 		<if test="keyword != null">
			<if test="searchType != null">
				<if test="searchType == 't'.toString()">
					and media_title like concat('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'c'.toString()">
					and media_content like concat('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'm'.toString()">
					and media_name like concat('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'r'.toString()">
					and reporter_name like concat('%', #{keyword}, '%')
				</if>
			</if>
		</if>
		<if test="company != null">
			and
			   keyword in (select 
						keyword 
					from 
						keyword_data
					where
						user_idx = (select 
										user_idx 
									from 
										user_data 
									where 
										user_name = #{company} 
									and 
										keyword_property = '포함'
									)
					)
		</if>
		<if test="selectKey != null">
				and keyword in (select keyword from keyword_data where keyword_main = #{selectKey})
			</if>
		<if test="startDate != null">
			and updateDate <![CDATA[>]]> #{startDate}
			<if test="endDate != null">
				and updateDate <![CDATA[<]]> #{endDate}
			</if>
		</if>
		<if test="textType != null">
			and textType = #{textType}
		</if>
	</sql>
	
	<sql id="search3">
		<if test="keyword != null">
			<if test="searchType != null">
				<if test="searchType == 't'.toString()">
					and reply_content like concat('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'c'.toString()">
					and media_title like concat('%', #{keyword}, '%')
				</if>
			</if>
		</if>
		<if test="company != null">
			and
			   keyword in (select 
						keyword 
					from 
						keyword_data
					where
						user_idx = (select 
										user_idx 
									from 
										user_data 
									where 
										user_name = #{company} 
									and 
										keyword_property = '포함'
									)
					)
		</if>
		<if test="selectKey != null">
				and keyword in (select keyword from keyword_data where keyword_main = #{selectKey})
		</if>	
		<if test="startDate != null and endDate != null">
			and writeDate <![CDATA[>=]]> #{startDate}
			and writeDate <![CDATA[<=]]> #{endDate}
		</if>
		<if test="textType != null">
			and textType = #{textType}
		</if>
	</sql>
 
 	<sql id="search_writeDate">
		<if test="company != null">
			and
			   keyword in (select 
						keyword 
					from 
						keyword_data
					where
						user_idx = (select 
										user_idx 
									from 
										user_data 
									where 
										user_name = #{company} 
									and 
										keyword_property = '포함'
									)
					)
		</if>
		<if test="selectKey != null">
				and keyword in (select keyword from keyword_data where keyword_main = #{selectKey})
		</if>
		<if test="startDate == null">
			and writeDate <![CDATA[>=]]> CURDATE()
		</if>
		<if test="startDate != null">
			and writeDate <![CDATA[>=]]> #{startDate}
			<if test="endDate != null">
				and writeDate <![CDATA[<=]]> #{endDate}
			</if>
		</if>
		<if test="textType != null">
			and textType = #{textType}
		</if>
	</sql>
	
	<sql id="search_writeDate2">
		<if test="company != null">
			  and keyword in (select 
						keyword 
					from 
						keyword_data
					where
						user_idx = (select 
										user_idx 
									from 
										user_data 
									where 
										user_name = #{company} 
									and 
										keyword_property = '포함'
									)
					)
		</if>
		<if test="selectKey != null">
				and keyword in (select keyword from keyword_data where keyword_main = #{selectKey})
		</if>
		<if test="startDate != null">
			and writeDate <![CDATA[>=]]> #{startDate}
			<if test="endDate != null">
				and writeDate <![CDATA[<=]]> #{endDate}
			</if>
		</if>
		<if test="textType != null">
			and textType = #{textType}
		</if>
	</sql>
 
 	<insert id="create">
 		insert into
 			media_data(media_name, media_title, media_content, reporter_name, reporter_ID, writeDate, last_writeDate, last_media_title, 
 			last_media_content, keyword, keyword_type, url, textType)
 		values
 			(#{media_name}, #{media_title}, #{media_content}, #{reporter_name}, #{reporter_ID}, #{writeDate}, #{last_writeDate}, #{last_media_title},
 			 #{last_media_content}, #{keyword}, #{keyword_type}, #{url}, #{textType})
 	
 	</insert>
 		
 	<insert id="replyAdd">
 		insert into 
 			news_data(company_name, media_name, media_title, reporter_name, writeDate, title_key, keyword, url, news_type, news_state, createDate, updateDate)
 		values
 			(#{company_name}, #{media_name}, #{media_title}, #{reporter_name}, #{writeDate}, #{title_key}, #{keyword}, #{url}, #{news_type}, #{news_state}, sysdate(), sysdate());
 	</insert>
 
 	<select id="read" resultType="MediaVO">
 		select
 			*
 		from
 			media_data
 		where
 			media_idx = #{media_idx}
 	
 	</select>
 
 	<update id="update">
 		update 
 			media_data
 		set
 			media_name = #{media_name},
 			media_title = #{media_title},
 			media_content = #{media_content},
 			reporter_name = #{reporter_name},
 			writeDate = #{writeDate},
 			last_writeDate = #{last_writeDate},
 			last_media_title = #{last_media_title},
 			last_media_content = #{last_media_content},
 			keyword = #{keyword},
 			keyword_type = #{keyword_type},
 			url = #{url},
 			updateDate = now()
 		where
 			media_idx = #{media_idx}
 		
 	</update>
 
 	<delete id="delete">
 		delete from
 			media_data
 		where
 			media_idx = #{media_idx}
 	
 	</delete>
 	
 	<delete id="newsDelete">
 		delete from
 			news_data
 		where
 			news_idx = #{news_idx}
 	
 	</delete>
 	
 	<delete id="replyDelete">
 		delete from
 			reply_data
 		where
 			reply_idx = #{reply_idx}
 	
 	</delete>
 	
 	<select id="allPageList" resultType="MediaVO">
		select
			*
		from
			media_data
		where
			url is not null
		<include refid="search2"></include>
		order 
			by updateDate desc
		limit  
		#{startPage}, #{perPageNum}
		
	</select>
	
 	<select id="TotalAllPageList" resultType="MediaVO">
		select
			*
		from
			media_data_history
		where
			url is not null
		<include refid="search2"></include>
		order 
			by updateDate desc
		limit  
		#{startPage}, #{perPageNum}
		
	</select>
	
	<select id="allPage" resultType="MediaVO">
		select
			*
		from
			media_data
		where
			url is not null
		<include refid="search"></include>
		order 
			by updateDate desc
		
	</select>
	
	<select id="replyAllPage" resultType="ReplyVO">
		select 
			a.*,(select url from news_data where news_idx = a.news_idx)as url,(select media_title from news_data where news_idx = a.news_idx)as media_title  
		from 
			reply_data a
		where 
			reply_comm_num is not null
		<include refid="search3"></include>
		order 
			by updateDate desc
		
	</select>
	
	<select id="allPageCount" resultType="Integer">
		select
			count(*)
		from
			media_data
		where
			url is not null
		<include refid="search"></include>
	</select>
	
	<select id="newsAllPageCount" resultType="Integer">
		select
			count(*)
		from
			news_data
		where
			url is not null
		<include refid="search_writeDate2"></include>
	</select>
	
	<select id="replyAllPageCount" resultType="Integer">
		select
			count(*)
		from
			reply_data
		where
			reply_comm_num is not null
		<include refid="search_writeDate2"></include>
	</select>
	
	<select id="TotalAllPageCount" resultType="Integer">
		select
			count(*)
		from
			media_data_history
		where
			url is not null
		<include refid="search"></include>
	</select>
 	
 	<select id="yesterdayCount" resultType="GraphVO">
 		select count(if(writeDate <![CDATA[<]]> date_add(now(), interval -1 day), writeDate, null)) type1,
	    count(if(writeDate <![CDATA[>]]> date_add(now(), interval -1 day), writeDate, null)) type2
		from media_data 
		where writeDate between date_add(now(), interval -2 day) and  date_add(now(), interval -0 day)
 	</select>
 	
 	<select id="naverMediaCount" resultType="TextTypeVO">
 		select 
 		count(if(textType='좋은글', textType, null)) lik, 
 		count(if(textType='나쁜글', textType, null)) dis, 
 		count(if(textType='관심글', textType, null)) cu, 
 		count(if(textType='기타글', textType, null)) etc, 
 		count(if(textType is not null and texttype!='삭제글', textType, null)) al
		from media_data where media_name = 'naver'
 		<include refid="search_writeDate"></include>
 	</select>
 	
 	<select id="daumMediaCount" resultType="TextTypeVO">
 		select  
 		count(if(textType='좋은글', textType, null)) lik,
		count(if(textType='나쁜글', textType, null)) dis,
		count(if(textType='관심글', textType, null)) cu,
		count(if(textType='기타글', textType, null)) etc,
		count(if(textType is not null and texttype!='삭제글', textType, null)) al
 		from media_data where media_name = 'daum'
 		<include refid="search_writeDate"></include>
 	</select>
 	
 	<select id="totalMediaCount" resultType="TextTypeVO">
 		select  
 		count(if(textType='좋은글', textType, null)) lik,
		count(if(textType='나쁜글', textType, null)) dis,
		count(if(textType='관심글', textType, null)) cu,
		count(if(textType='기타글', textType, null)) etc,
		count(if(textType is not null and texttype!='삭제글', textType, null)) al
 		from media_data
 		<include refid="search_writeDate2"></include>
 	</select>
 	
 	<select id="periodTextTypeCount" resultType="TextTypeVO">
 		select  
 		count(if(textType='좋은글', textType, null)) lik,
		count(if(textType='나쁜글', textType, null)) dis,
		count(if(textType='관심글', textType, null)) cu,
		count(if(textType='기타글', textType, null)) etc,
		count(if(textType is not null and texttype!='삭제글', textType, null)) al
 		from union.media_data where textType is not null
 		<if test="textType != 'press'.toString()">
  			and keyword = 'press'
	  		<if test="startDate != null and endDate != null">
				and left(writeDate,10) <![CDATA[>=]]> #{startDate}
				and left(writeDate,10) <![CDATA[<=]]> #{endDate}
			</if>
  		</if>
  		<if test="textType != null">
		<include refid="periodSearch"></include>
  		</if>
 	</select>
 
 	<select id="searchAll" resultType="MediaVO">
 		select
 			*
 		from
 			media_data
 			
 	
 	</select>
 	
 	
 	<select id="listExtract" resultType="MediaVO">
		select
			*
		from 
			media_data
		where
			textType is null
		<include refid="search"></include>
		order by
			createDate desc
		limit
			#{startPage}, #{perPageNum}
			
	
	</select>
 	
 	<select id="getExtractCount" resultType="Integer">
		select
			count(*)
		from 
			media_data
		where
			textType is null
		<include refid="search"></include>
	
	
	</select>
 	
 
 	<select id="listSearch" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		and 
			textType!='삭제글'
		<include refid="search"></include>
		order 
			by updateDate desc
		limit  
			#{startPage}, #{perPageNum}
 	
 	</select>
 	
 	<select id="textTypelistSearch" parameterType="Map" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		and 
			textType='좋은글'
		<include refid="search"></include>
		order 
			by updateDate desc
 	</select>
 	<select id="textTypelistSearch2" parameterType="Map" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		and 
			textType='나쁜글'
		<include refid="search"></include>
		order 
			by updateDate desc
 	</select>
 	<select id="textTypelistSearch3" parameterType="Map" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		and 
			textType='관심글'
		<include refid="search"></include>
		order 
			by updateDate desc
 	</select>
 	<select id="textTypelistSearch4" parameterType="Map" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		and 
			textType='기타글'
		<include refid="search"></include>
		order 
			by updateDate desc
 	</select>
 	
 	<select id = "getSearchCount" resultType="Integer">
		select
			count(*)
		from
			media_data
		where
			textType is not null
		<include refid="search"></include>
			
	</select>
	
	<select id="wlistSearch" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		and 
			textType!='삭제글'
		<include refid="search_writeDate"></include>
		order 
			by updateDate desc
		limit  
			#{startPage}, #{perPageNum}
 	
 	</select>
 	<select id="wlistSearch2" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		and 
			textType!='삭제글'
		<include refid="search_writeDate"></include>
		order 
			by updateDate desc
		limit  
			#{startPage}, #{perPageNum}
 	
 	</select>
 	
 	<select id = "wgetSearchCount" resultType="Integer">
		select
			count(*)
		from
			media_data
		where
			textType is not null
		and
			textType!='삭제글'
		<include refid="search_writeDate"></include>
			
	</select>
	
 	<!-- <select id = "wgetSearchCount2" resultType="Integer">
		select
			count(*)
		from
			media_data
		where
			textType is not null
		and
			textType!='삭제글'
		<include refid="search_writeDate"></include>
			
	</select> -->
 	
 	<select id="getTotalCount" resultType="Integer">
 		select
 			count(*)
 		from
 			media_data
 		where
 			textType is not null
 		and
			textType!='삭제글'
		<if test="startDate == null">
			and writeDate <![CDATA[>=]]> CURDATE()
		</if>	
 		<if test="startDate != null and endDate != null">
			and writeDate <![CDATA[>]]> #{startDate}
			and writeDate <![CDATA[<]]> #{endDate}
		</if>
 	</select>
 	
 	<select id="getMatchCount" resultType="Integer">
 		select
 			count(*)
 		from
 			media_data
 		where 
	 		textType is not null
	 	and
			textType!='삭제글'
 		<include refid="search_writeDate"></include>
 	</select>
 	
 	<select id="listAll" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		and
			textType!='삭제글'
		<include refid="search"></include>
 	
 	</select>
 	
 	<select id="wPageSearch" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		<include refid="search_writeDate"></include>
 	
 	</select>
 	
 	<select id="mediaGetTotalCount" resultType="Integer">
 		select 
 			count(*) 
 		from 
 			media_data
 		where
 			media_name = #{keyword}
 		and
			textType!='삭제글'
 		<if test="startDate != null and endDate != null">
			and updateDate <![CDATA[>]]> #{startDate}
			and updateDate <![CDATA[<]]> #{endDate}
		</if>
 	
 	</select>
 	
 	<select id="reporterGetTotalCount" resultType="Integer">
 		select 
 			count(*) 
 		from 
 			media_data
 		where
 			reporter_name = #{keyword}
 		<if test="startDate != null and endDate != null">
			and updateDate <![CDATA[>]]> #{startDate}
			and updateDate <![CDATA[<]]> #{endDate}
		</if>
 	
 	</select>
 	
 	<select id="reporterGetTextTypeCount" resultType="Map">
 		select 
 			writeDate, media_name, media_title, keyword, textType
 		from 
 			media_data
 		where
 			reporter_name = #{reporter}
 		and
 			textType = #{textType}	
 		<if test="startDate != null and endDate != null">
			and updateDate <![CDATA[>]]> #{startDate}
			and updateDate <![CDATA[<]]> #{endDate}
		</if>
 	</select>
 	
 	<select id="mediaGetSearchCount" resultType="Integer">
 		select 
 			count(*) 
 		from 
 			media_data
 		where
 			media_name = #{keyword}
 		<include refid="periodSearch"></include>
 		
 	</select>
 	
 	<select id="reporterGetSearchCount" resultType="Integer">
 		select
 			count(*)
 		from
 			media_data
 		where
 			reporter_name like concat('%', #{keyword}, '%')
 	    <include refid="periodSearch"></include>
 	</select>
 	
 	
 	<update id="updateTextType">
		update
			media_data
		set
			textType = #{textType}, 
			updateDate = now()
		where
			media_idx = #{media_idx}
	
	</update>
	
	<update id="newsUpdateTextType">
		update
			news_data
		set
			textType = #{textType}, 
			updateDate = now()
		where
			news_idx = #{news_idx}
	
	</update>
	
	<update id="replyUpdateTextType">
		update
			reply_data
		set
			textType = #{textType}, 
			updateDate = now()
		where
			reply_idx = #{reply_idx}
	
	</update>

	<update id="updateThumbnail">
		update
			media_data
		set
			thumbnail = #{thumbnail}
		where
			media_idx = #{media_idx}
	
	</update>
	
	<select id="getMediaPortalCount" resultType="TextTypeVO">
		select
			count(if(media_name='naver', media_name, null)) lik,
			count(if(media_name='daum', media_name, null)) dis
		from
			media_data
		where
			media_content like concat('%', #{keyword}, '%')
		<include refid="periodSearch"></include>
	</select>
	
 	<select id="getMediaTextTypeTotalCount" resultType="TextTypeVO">
	 	select
			count(if(textType='좋은글', textType, null)) lik,
			count(if(textType='나쁜글', textType, null)) dis,
			count(if(textType='관심글', textType, null)) cu
		from
			media_data
		where
			media_content like concat('%', #{keyword}, '%')
	
 	</select>
 	
 	<select id="getMediaTextTypeSearchCount" resultType="TextTypeVO">
	 	select
			count(if(textType='좋은글', textType, null)) lik,
			count(if(textType='나쁜글', textType, null)) dis,
			count(if(textType='관심글', textType, null)) cu
		from
			media_data
		where
			media_content like concat('%', #{keyword}, '%')
		<include refid="periodSearch"></include>
		
 	</select>
 	
 	<select id="getPressPortalCount" resultType="TextTypeVO">
		select
			count(if(media_name='naver', media_name, null)) lik,
			count(if(media_name='daum', media_name, null)) dis
		from
			media_data
		where
			reporter_name like concat('%', #{keyword}, '%')
		<include refid="periodSearch"></include>
	</select>
	
 	<select id="getPressTextTypeTotalCount" resultType="TextTypeVO">
	 	select
			count(if(textType='좋은글', textType, null)) lik,
			count(if(textType='나쁜글', textType, null)) dis,
			count(if(textType='관심글', textType, null)) cu
		from
			media_data
		where
			reporter_name like concat('%', #{keyword}, '%')
	
 	</select>
 	
 	<select id="getPressTextTypeSearchCount" resultType="TextTypeVO">
	 	select
			count(if(textType='좋은글', textType, null)) lik,
			count(if(textType='나쁜글', textType, null)) dis,
			count(if(textType='관심글', textType, null)) cu
		from
			media_data
		where
			reporter_name like concat('%', #{keyword}, '%')
		<include refid="periodSearch"></include>
		
 	</select>
 	
 	<select id="newsList" resultType="NewsVO">
		select 
			a.*,(select count(*) 
		from 
			reply_data where news_idx = a.news_idx)as replycnt from news_data a
		where 
			url is not null
		<include refid="search_writeDate2"></include>
		order 
			by updateDate desc
		limit  
		#{startPage}, #{perPageNum}	
	</select>
	
	<select id="replyList" resultType="ReplyVO">
		select 
			a.*,(select url from news_data where news_idx = a.news_idx)as url,(select media_title from news_data where news_idx = a.news_idx)as media_title  
		from 
			reply_data a
		where 
			reply_comm_num is not null
		<include refid="search_writeDate2"></include>
		order 
			by updateDate desc
		limit  
			#{startPage}, #{perPageNum}	
	</select>
 </mapper>