<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.union.mappers.MediaMapper">
 
 
 	<sql id="search">
 		<if test="keyword != null">
			<if test="searchType != null">
				<if test="searchType == 't'.toString()">
					and media_title like concat('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'c'.toString()">
					and media_content like concat('%', #{keyword}, '%')
				</if>
			</if>
		</if>
		<if test="selectKey != null">
			and keyword = #{selectKey}
		</if>
	</sql>
 
 	<insert id="create">
 		insert into
 			media_data(media_name, media_title, media_content, reporter_name, reporter_ID, writeDate, last_writeDate, last_media_title, last_media_content, keyword, keyword_type, url)
 		values
 			(#{media_name}, #{media_title}, #{media_content}, #{reporter_name}, #{reporter_ID}, #{writeDate}, #{last_writeDate}, #{last_media_title},
 			 #{last_media_content}, #{keyword}, #{keyword_type}, #{url})
 	
 	</insert>
 
 	<select id="read" resultType="MediaVO">
 		select
 			*
 		from
 			media_data
 		where
 			media_idx = #{media_idx}
 	
 	</select>
 
 	<update id="update">
 		update 
 			media_data
 		set
 			media_name = #{media_name},
 			media_title = #{media_title},
 			media_content = #{media_content},
 			reporter_name = #{reporter_name},
 			writeDate = #{writeDate},
 			last_writeDate = #{last_writeDate},
 			last_media_title = #{last_media_title},
 			last_media_content = #{last_media_content},
 			keyword = #{keyword},
 			keyword_type = #{keyword_type},
 			url = #{url},
 			updateDate = now()
 		where
 			media_idx = #{media_idx}
 		
 	</update>
 
 	<delete id="delete">
 		delete from
 			media_data
 		where
 			media_idx = #{media_idx}
 	
 	</delete>
 
 	<select id="searchAll" resultType="MediaVO">
 		select
 			*
 		from
 			media_data
 			
 	
 	</select>
 	
 	
 	<select id="listExtract" resultType="MediaVO">
		select
			*
		from 
			media_data
		where
			textType is null
		<if test="startDate != null">
		and
			writeDate <![CDATA[>]]> #{startDate}
		<if test="endDate != null">
  		and 
  			writeDate <![CDATA[<]]> #{endDate}
  		</if>
  		</if>
		<include refid="search"></include>
		order by
			createDate desc
		limit
			#{startPage}, #{perPageNum}
			
	
	</select>
 	
 	<select id="getExtractCount" resultType="Integer">
		select
			count(*)
		from 
			media_data
		where
			textType is null
		<if test="startDate != null">
		and
			writeDate <![CDATA[>]]> #{startDate}
		<if test="endDate != null">
  		and 
  			writeDate <![CDATA[<]]> #{endDate}
  		</if>
  		</if>
		<include refid="search"></include>
	
	
	</select>
 	
 
 	<select id="listSearch" resultType="MediaVO">
 		select 
			*
		from 
			media_data
		where 
			textType is not null
		and 
			community_title like concat('%', #{keyword}, '%')
		or 
			community_content like concat('%', #{keyword}, '%')
		order 
			by createdate desc
		limit  
			#{startPage}, #{pageUnit}
 	
 	</select>
 	
 	<select id="getTotalCount" resultType="Integer">
 		select
 			count(*)
 		from
 			media_data
 	
 	</select>
 	
 	<select id="mediaGetTotalCount" resultType="Integer">
 		select 
 			count(*) 
 		from 
 			media_data
 		where
 			media_name = #{keyword}
 	
 	</select>
 	
 	<select id="reporterGetTotalCount" resultType="Integer">
 		select
 			count(*)
 		from
 			media_data
 		where
 			reporter_name = #{reporter_name}
 	
 	</select>
 	
 	
 	<update id="updateTextType">
		update
			media_data
		set
			textType = #{textType}
		where
			media_idx = #{media_idx}
	
	</update>

	<update id="updateThumbnail">
		update
			media_data
		set
			thumbnail = #{thumbnail}
		where
			media_idx = #{media_idx}
	
	</update>
 	
 
 </mapper>