<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace = "org.union.mappers.ReporterMapper">
 
 	<insert id="create">
 		insert into
 			reporter_data(reporter_media_name, reporter_name, reporter_ID, reporter_email, reporter_phoneNum, reporter_part_name, reporter_memo)
 		values
 			(#{reporter_media_name}, #{reporter_name}, #{reporter_ID}, #{reporter_email}, #{reporter_phoneNum}, #{reporter_part_name}, #{reporter_memo})
 	
 	</insert>
 
 	<select id="read" resultType="ReporterVO">
 		select
 			*
 		from
 			reporter_data
 		where
 			reporter_idx = #{reporter_idx}
 	
 	</select>
 
 	<update id="update">
 		update
 			reporter_data
 		set
 			reporter_media_name = #{reporter_media_name},
 			reporter_name = #{reporter_name},
 			reporter_ID = #{reporter_ID},
 			reporter_email = #{reporter_email},
 			reporter_phoneNum = #{reporter_phoneNum},
 			reporter_part_name = #{reporter_part_name},
 			reporter_memo = #{reporter_memo},
 			updateDate = now()
 		where
 			reporter_idx = #{reporter_idx}
 	
 	</update>
 
 	<delete id="delete">
 		delete from
 			reporter_data
 		where
 			reporter_idx = #{reporter_idx}
 	
 	</delete>
 	
 	<select id="listAll" resultType="ReporterVO">
 		select
 			*
 		from	
 			reporter_data
 	</select>
 
 </mapper>
  