<!DOCTYPE html>
<html lang="en">

<head>
  <title>OverWare</title>
  <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Phoenixcoded">
  <meta name="keywords" content="flat ui, admin , Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
  <meta name="author" content="Phoenixcoded">
  <!-- Favicon icon -->
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <!-- Required Fremwork -->
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- themify-icons line icon -->
  <link rel="stylesheet" type="text/css" href="assets/icon/themify-icons/themify-icons.css">
  <!-- ico font -->
  <link rel="stylesheet" type="text/css" href="assets/icon/icofont/css/icofont.css">
  <!-- Menu-Search css -->
  <link rel="stylesheet" type="text/css" href="assets/pages/menu-search/css/component.css">
  <!-- Horizontal-Timeline css -->
  <link rel="stylesheet" type="text/css" href="assets/pages/dashboard/horizontal-timeline/css/style.css">
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="assets/icon/font-awesome/css/font-awesome.css">
  <!-- Date-range picker css  -->
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- C3 chart -->
  <link rel="stylesheet" href="../bower_components/c3/c3.css" type="text/css" media="all">
  <!-- Style.css -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/picker.css">
  <link rel="stylesheet" type="text/css" href="assets/pages/naver/css/style.css">
  <!--color css-->
  <link rel="stylesheet" type="text/css" href="assets/css/color/color-1.css" id="color" />
  <link rel="stylesheet" type="text/css" href="assets/css/linearicons.css">
  <link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css">
  <link rel="stylesheet" type="text/css" href="assets/css/ionicons.css">
  <link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.css">
</head>

<body>
  <!-- Pre-loader start -->
  <div class="theme-loader">
    <div class="ball-scale">
      <div></div>
    </div>
  </div>
  <!-- Pre-loader end -->

  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
      <nav class="navbar header-navbar pcoded-header" header-theme="theme4">
        <div class="navbar-wrapper">
          <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="#!">
              <i class="ti-menu"></i>
            </a>
            <a href="dashboard.html">
              <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
            </a>
            <a class="mobile-options">
              <i class="ti-more"></i>
            </a>
          </div>
          <div class="navbar-container container-fluid">
            <div>
              <ul class="nav-left">
                <li>
                  <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                </li>
              </ul>
              <ul class="nav-right">
                <li class="user-profile header-notification">
                  <a href="#!">
                    <img src="assets/images/user.png" alt="User-Profile-Image">
                    <span>Union</span>
                    <i class="ti-angle-down"></i>
                  </a>
                  <ul class="show-notification profile-notification">
                    <li>
                      <a href="#!"><i class="ti-layout-sidebar-left"></i> Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          <nav class="pcoded-navbar" pcoded-header-position="relative">
            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
            <div class="pcoded-inner-navbar main-menu">
              <div class="">
                <div class="main-menu-header">
                  <img class="img-50" src="assets/images/avatar-blank.png" alt="User-Profile-Image">
                  <div class="user-details">
                    <span id="more-details">Union</span>
                  </div>
                </div>
              </div>
              <ul class="pcoded-item pcoded-left-item">
                <li class="">
                  <a href="dashboard.html">
                    <span class="pcoded-micon"><i class="ti-home"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.dash.main">대시보드</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                </li>
                <li class="">
                  <a href="period.html">
                    <span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
                    <span class="pcoded-mtext">통계보고서</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                </li>
                <li class="pcoded-hasmenu active pcoded-trigger">
                  <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
                    <span class="pcoded-micon"><i class="ti-world"></i></span>
                    <span class="pcoded-mtext">포털관리</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    <li class="">
                      <a href="mngNaver.html" data-i18n="nav.advance-components.draggable">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">네이버관리</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="mngViral.html" data-i18n="nav.advance-components.grid-stack">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">바이럴관리</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="pcoded-hasmenu">
                  <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
                    <span class="pcoded-micon"><i class="ti-facebook"></i></span>
                    <span class="pcoded-mtext">SNS관리</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    <li class=" ">
                      <a href="mngFaceBook.html" data-i18n="nav.advance-components.draggable">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">페이스북관리</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="mngTwitter.html" data-i18n="nav.advance-components.grid-stack">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">트위터관리</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="mngInstagram.html" data-i18n="nav.advance-components.grid-stack">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">인스타그램관리</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="pcoded-hasmenu">
                  <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
                    <span class="pcoded-micon"><i class="ti-notepad"></i></span>
                    <span class="pcoded-mtext">언론사관리</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    <li class=" ">
                      <a href="mngNews.html" data-i18n="nav.advance-components.draggable">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">언론사 기사글 관리</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="mngPress.html" data-i18n="nav.advance-components.grid-stack">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">기자관리</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="pcoded-hasmenu">
                  <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
                    <span class="pcoded-micon"><i class="ti-harddrives"></i></span>
                    <span class="pcoded-mtext">운영관리</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    <li class=" ">
                      <a href="createCompany.html" data-i18n="nav.advance-components.draggable">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">거래처관리</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="mngMonitoring.html" data-i18n="nav.advance-components.grid-stack">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">모니터링현황</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="">
                  <a href="mngKeyword.html" data-i18n="nav.advance-components.main">
                    <span class="pcoded-micon"><i class="ti-ink-pen"></i></span>
                    <span class="pcoded-mtext">키워드관리</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                </li>
                <li class="">
                  <a href="mngExtract.html" data-i18n="nav.advance-components.main">
                    <span class="pcoded-micon"><i class="ti-search"></i></span>
                    <span class="pcoded-mtext">추출글관리</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                </li>
                <li class="pcoded-hasmenu">
                  <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
                    <span class="pcoded-micon"><i class="ti-filter"></i></span>
                    <span class="pcoded-mtext">분류글관리</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    <li class=" ">
                      <a href="mngClassifiCation1.html" data-i18n="nav.advance-components.draggable">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">좋은글</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="mngClassifiCation2.html" data-i18n="nav.advance-components.grid-stack">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">나쁜글</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="mngClassifiCation3.html" data-i18n="nav.advance-components.grid-stack">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">관심글</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="mngClassifiCation4.html" data-i18n="nav.advance-components.grid-stack">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">기타</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    <li class=" ">
                      <a href="mngClassifiCation5.html" data-i18n="nav.advance-components.grid-stack">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">삭제</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                  </ul>
                  <li class="">
                    <a href="mngAllList.html" data-i18n="nav.advance-components.main">
                      <span class="pcoded-micon"><i class="ti-menu"></i></span>
                      <span class="pcoded-mtext">전체글관리</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </li>
              </ul>
            </div>
          </nav>
          <div class="pcoded-content">
            <div class="pcoded-inner-content">
              <div class="main-body">
                <div class="page-wrapper">
                  <!-- 네이버 관리 start -->
                  <div class="page-header">
                    <div class="page-header-title">
                      <h4>네이버관리</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                      <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                          <a href="dashboard.html">
                            <i class="icofont icofont-home"></i>
                          </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">포털관리</a></li>
                        <li class="breadcrumb-item"><a href="#!">네이버관리</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="page-body">
                    <!-- data setting start -->
                    <div class="row">
                      <div class="col-md-7">
                        <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left">
                          <option value="opt1">회사</option>
                        </select>
                        <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left" id="keyword">
                          <option value="opt1">키워드</option>
                        </select>
                      </div>
                      <div class="col-md-5">
                        <!-- date picker start -->
                        <div class="row">
                          <div class="btn-group float-right m-b-10 p-l-15 p-r-10" role="group">
                            <button type="button" class="btn btn-inverse btn-sm waves-effect waves-light">당일</button>
                            <button type="button" class="btn btn-inverse btn-sm waves-effect waves-light">전일</button>
                            <button type="button" class="btn btn-inverse btn-sm waves-effect waves-light">최근7일</button>
                            <button type="button" class="btn btn-inverse btn-sm waves-effect waves-light">최근30일</button>
                          </div>
                          <div class="input-group float-right date col p-l-15 p-r-15 m-b-10">
                            <input type="text" id="fromDate" class="form-control form-control-inverse" value="">
                            <span class="input-group-addon bg-inverse">
                              <span class="icofont icofont-ui-calendar"></span>
                            </span>
                          </div>

                        </div>
                        <!-- date picker end -->
                      </div>
                    </div>
                    <!-- data setting end -->
                    <div class="row">
                        <!-- counter-card-1 start-->
                        <div class="col-md-12 col-xl-4">
                          <div class="card counter-card-1">
                            <div class="card-block-big">
                              <div>
                                <h3>0</h3>
                                <p>전체모니터링</p>
                                <div class="progress ">
                                  <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div>
                              <i class="icofont icofont-globe text-inverse"></i>
                            </div>
                          </div>
                        </div>
                        <!-- counter-card-1 end-->
                        <!-- counter-card-2 start -->
                        <div class="col-md-12 col-xl-4">
                          <div class="card counter-card-1">
                            <div class="card-block-big">
                              <div>
                                <h3>0</h3>
                                <p>영화</p>
                                <div class="progress ">
                                  <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div>
                              <i class="icofont icofont-video-clapper text-inverse"></i>
                            </div>
                          </div>
                        </div>
                        <!-- counter-card-2 end -->
                        <!-- counter-card-3 start -->
                        <div class="col-md-12 col-xl-4">
                          <div class="card counter-card-1">
                            <div class="card-block-big">
                              <div>
                                <h3>0</h3>
                                <p>배우</p>
                                <div class="progress ">
                                  <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div>
                              <i class="icofont icofont-user-alt-7 text-inverse"></i>
                            </div>
                          </div>
                        </div>
                        <!-- counter-card-3 end -->
                        <!-- pc 메인노출 테이블 start -->
                        <div class="col-md-6">
                          <!-- Pc table start -->
                          <div class="card">
                            <div class="card-header">
                                <h5>PC 메인 노출</h5>
                                <span>TV연예 홈</span>
                                <div class="card-header-right"><i class="icofont icofont-rounded-down"></i></div>
                            </div>
                            <div class="card-block table-border-style">
                              <div class="table-responsive">
                                <table class="table table-styling">
                                  <thead>
                                    <tr>
                                      <th width="5%">영역</th>
                                      <th width="10%">전체</th>
                                      <th width="10%">매칭</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">헤드라인기사</th>
                                      <td>3</td>
                                      <td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">헤드라인 sub</th>
                                      <td>3</td>
                                      <td>0</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">아이템 기사</th>
                                      <td>3</td>
                                      <td>0</td>
                                    </tr>
                                    <tr class="bg-inverse">
                                      <th scope="row">합계</th>
                                      <td>0</td>
                                      <td>0</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <!-- Pc table end -->
                        </div>
                        <!-- pc 메인노출 테이블 end -->
                        <!-- Donut chart start -->
                        <div class="col-md-12 col-lg-6">
                          <div class="card">
                            <div class="card-header" style="border:0;">
                              <div class="card-header-right">
                                <i class="icofont icofont-rounded-down"></i>
                                <i class="icofont icofont-refresh"></i>
                              </div>
                            </div>
                            <div class="card-block">
                              <div id="chart"></div>
                            </div>
                          </div>
                        </div>
                        <!-- Donut chart Ends -->
                        <!-- Morris chart start -->
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h5>검출량그래프</h5>
                              <span>최근 24시간 검출된 데이터 그래프</span>
                              <div class="card-header-right">
                                <i class="icofont icofont-rounded-down"></i>
                                <i class="icofont icofont-refresh"></i>
                              </div>
                            </div>
                            <div class="card-block">
                              <div id="morris-extra-area" style="height:470px;"></div>
                            </div>
                          </div>
                        </div>
                        <!-- Morris chart end -->
                      </div>
                  </div>
                  <!-- 네이버 관리 end -->
                  <!-- 네이버 영화 start-->
                  <div class="page-header m-b-30">
                    <div class="page-header-title">
                      <h4>네이버영화</h4>
                    </div>
                  </div>
                  <!-- Page-body start -->
                  <div class="page-body">
                    <div class="row">
                    <!-- pc,mobile순위 start -->
                    <div class="col-md-12">
                      <!-- Pc table start -->
                      <div class="card">
                        <div class="card-header">
                          <h5>PC</h5>
                          <span>Naver > 영화</span>
                          <div class="card-header-right"><i class="icofont icofont-rounded-down"></i></div>
                        </div>
                        <div class="card-block">
                          <div class="table-responsive">
                            <table class="table table-styling">
                              <thead>
                                <tr>
                                  <th>NO</th>
                                  <th>등록날짜</th>
                                  <th>제목</th>
                                  <th>키워드</th>
                                  <th>언론사</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>스포츠서울</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">4</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">5</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">6</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">7</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">8</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">9</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">10</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <ul class="pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">«</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">»</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                        </div>
                      </div>
                      <!-- Pc table end -->
                    </div>
                    <div class="col-md-12">
                      <!-- mobile table start -->
                      <div class="card">
                        <div class="card-header">
                          <h5>MOBILE</h5>
                          <span>Naver > 영화</span>
                          <div class="card-header-right"><i class="icofont icofont-rounded-down"></i></div>
                        </div>
                        <div class="card-block">
                          <div class="table-responsive">
                            <table class="table table-styling">
                              <thead>
                                <tr>
                                  <th>NO</th>
                                  <th>등록날짜</th>
                                  <th>제목</th>
                                  <th>키워드</th>
                                  <th>언론사</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>스포츠서울</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">4</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">5</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">6</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">7</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">8</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">9</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                                <tr>
                                  <th scope="row">10</th>
                                  <td>2017-09-29 20:54:16</td>
                                  <td>
                                    <a href="https://www.naver.com" target="_blank">
                                      <div class="nobr">[★SHOT!] "만삭의 아름다움"..이동건♥조윤희 동화 같은 결혼식 사진 공개</div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td>OSEN</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <ul class="pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">«</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">»</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                        </div>
                      </div>
                      <!-- mobile table end -->
                    </div>
                    <!-- pc,mobile순위 end -->
                    </div>
                  </div>
                  <!-- 네이버 영화 end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Warning Section Starts -->
  <!-- Older IE warning message -->
  <!--[if lt IE 9]>
    <div class="ie-warning">
      <h1>Warning!!</h1>
      <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
      <div class="iew-container">
        <ul class="iew-download">
          <li>
            <a href="http://www.google.com/chrome/">
              <img src="assets/images/browser/chrome.png" alt="Chrome">
              <div>Chrome</div>
            </a>
          </li>
          <li>
            <a href="https://www.mozilla.org/en-US/firefox/new/">
              <img src="assets/images/browser/firefox.png" alt="Firefox">
              <div>Firefox</div>
            </a>
          </li>
          <li>
            <a href="http://www.opera.com">
              <img src="assets/images/browser/opera.png" alt="Opera">
              <div>Opera</div>
            </a>
          </li>
          <li>
            <a href="https://www.apple.com/safari/">
              <img src="assets/images/browser/safari.png" alt="Safari">
              <div>Safari</div>
            </a>
          </li>
          <li>
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
              <img src="assets/images/browser/ie.png" alt="">
              <div>IE (9 & above)</div>
            </a>
          </li>
        </ul>
      </div>
      <p>Sorry for the inconvenience!</p>
    </div>
  <![endif]-->
  <!-- Warning Section Ends -->


  <!-- Required Jquery -->
  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" src="../bower_components/tether/dist/js/tether.min.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="../bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
  <!-- modernizr js -->
  <script type="text/javascript" src="../bower_components/modernizr/modernizr.js"></script>
  <script type="text/javascript" src="../bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
  <!-- classie js -->
  <script type="text/javascript" src="../bower_components/classie/classie.js"></script>
  <!-- Bootstrap date-time-picker js -->
  <script type="text/javascript" src="assets/pages/advance-elements/moment-with-locales.min.js"></script>
  <!-- Date-range picker js -->
  <script type="text/javascript" src="../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <!-- c3 chart js -->
  <script src="../bower_components/d3/d3.min.js"></script>
  <script src="../bower_components/c3/c3.js"></script>
  <!-- Morris Chart js -->
  <script src="../bower_components/raphael/raphael.min.js"></script>
  <script src="../bower_components/morris.js/morris.js"></script>
  <!-- i18next.min.js -->
  <script type="text/javascript" src="../bower_components/i18next/i18next.min.js"></script>
  <script type="text/javascript" src="../bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
  <script type="text/javascript" src="../bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
  <script type="text/javascript" src="../bower_components/jquery-i18next/jquery-i18next.min.js"></script>
  <!-- Custom js -->
  <script type="text/javascript" src="assets/pages/naver/script.js"></script>
  <script type="text/javascript" src="assets/pages/picker.js"></script>
  <script type="text/javascript" src="assets/js/script.js"></script>
  <script src="assets/js/pcoded.min.js"></script>
  <script src="assets/js/demo-12.js"></script>
  <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="assets/js/jquery.mousewheel.min.js"></script>
</body>

</html>
