<div id="M_body" style="float:left;font-family:굴림, Gulim;">
  <div id="header"><img src="http://showbox.email/images/newsclipping/header.jpg" style="display: inherit;">
    <div id="info" style="background-color: #f7f7f7;height: 37px;"> <span style="padding: 10px;padding-left: 15px;display: inline-block;font-size: 11px;color: #686868;">ShowBox News Clipping</span> <span id="date-span" style="float: right;display: inline-block;padding: 8px;padding-right: 25px;line-height:17px;"><a
          href="" target="_blank" style="cursor:pointer;text-decoration: blink;font-size: 11px;color: #686868"></a></span></div>
  </div>
  <div id="body" style="padding:27px 24px;padding-top: 0px;">
    <div id="body-content">
      <div class="section" data-type="1" style="padding-top:24px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"> <img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit;float:left;"><span style="font-family:NanumGothic;font-size: 16px;padding-left: 5px; float:left;">쇼박스
            영화</span><button class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"></div>
      </div>
      <div class="section" data-type="2" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">경쟁
            영화</span><button class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"></div>
      </div>
      <div class="section" data-type="51" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">영화
            일반 - 인터뷰</span><button class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"></div>
      </div>
      <div class="section" data-type="52" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">영화
            일반 - 리뷰</span><button class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"></div>
      </div>
      <div class="section" data-type="53" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">영화
            일반 - 예고편</span><button class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"></div>
      </div>
      <div class="section" data-type="54" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">영화
            일반 - 포스터</span><button class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"></div>
      </div>
      <div class="section" data-type="55" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">영화
            일반 - 화보</span><button class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"></div>
      </div>
      <div class="section" data-type="5" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">영화
            일반 - 기타</span><button class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"></div>
      </div>
      <div class="section" data-type="6" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">보도국</span><button
            class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"></div>
      </div>
      <div class="section" data-type="3" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 3px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">캐스팅</span><button
            class="btn btn-danger btn-sm f-right delBtn">삭제</button><button class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body"> </div>
      </div>
      <div class="section" data-type="issue" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 8px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size:16px;padding-left:5px;float:left;">키워드이슈</span></div>
        <div class="section-body">
          <table style="border-collapse: collapse;border-spacing: 0;">
            <colgroup>
              <col width="140px">
              <col width="605px">
            </colgroup>
            <tbody style="font-family:Gulim; font-size:12px"></tbody>
          </table>
        </div>
      </div>
      <div class="section" data-type="marketing" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom:8px;height:31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"> <span style="font-family:NanumGothic;font-size: 16px;padding-left: 5px; float:left;">마케팅채널관리</span>
        </div>
        <div class="section-body">
          <table style="width:100%; font-size: 12px;border-collapse: collapse;border-spacing: 0;">
            <colgroup>
              <col width="377px" />
              <col width="83px" />
              <col width="83px" />
              <col width="83px" />
            </colgroup>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="section" data-type="movie" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 8px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size: 16px;padding-left: 5px; float:left;">박스오피스</span><a
            href="http://movie.daum.net/boxoffice/weekly" target="_blank"><img src="http://showbox.email/images/newsclipping/link_icon.jpg" style="display: inherit;float:left;padding-top: 5px;padding-left: 11px;"> </a><button class="btn btn-danger btn-sm f-right delBtn">삭제</button><button
            class="btn btn-default btn-sm f-right groupBtn">저장</button></div>
        <div class="section-body">
          <div data-type="7"></div>
          <table style="font-family: 굴림;font-size:12px;margin-top: 22px;">
            <colgroup>
              <col width="50px">
              <col width="532px">
              <col width="111px">
              <col width="50px">
            </colgroup>
            <tbody id="movieList"></tbody>
          </table>
        </div>
      </div>
      <div class="section" data-type="4" style="padding-top:50px">
        <div class="section-header" style="border-bottom: 2px solid #efefef;padding-bottom: 8px;height: 31px;"><img src="http://showbox.email/images/newsclipping/icon.jpg" style="display: inherit; float:left;"><span style="font-family:NanumGothic;font-size: 16px;padding-left: 5px; float:left;">오리온
            기업뉴스</span><a href="http://finance.naver.com/item/news.nhn?code=086980" target="_blank"><img src="http://showbox.email/images/newsclipping/link_icon.jpg" style="display: inherit;float:left;padding-top: 5px;padding-left: 11px;"></a></div>
        <div class="section-body">
          <table style="width:100%;font-size: 12px;border-collapse:collapse;border-spacing:0;">
            <colgroup>
              <col width="377px" />
              <col width="83px" />
              <col width="83px" />
            </colgroup>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
