table td,table th{
  text-align: center;
}

.nobr{
  width:380px;
}

.table.table-xs td{
  padding: .4rem 1rem;
}

.counter-card-1 [class*="card-"] > i, .counter-card-2 [class*="card-"] > i, .counter-card-3 [class*="card-"] > i {
    position: absolute;
    color: #1abc9c;
    right: 30px;
    top: 40px;
    font-size: 35px;
}
